
.next/
node_modules/
npm-debug.log
.env
.env.local
.env.development
.env.production
.git/
.gitignore
.DS_Store
*.log
*.tsbuildinfo
pnpm-debug.log
yarn-debug.log
yarn-error.log
#*#
*.bak
*.swp
*.swo
*.tmp
*.sublime-project
*.sublime-workspace
.vscode/
.idea/
less/
